.outerContainer {
  min-width: 100%;
  min-height: 100vh;
}

.innerContainer {
  min-width: 100%;
  padding: 0rem 10%;
  margin: 1rem auto 0rem auto;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.topnav li {
  float: left;
  min-width: 10%;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgba(0,0,0,0.25);
}

ul.topnav li a.active {
  background-color: #111;
}

ul.topnav li.login {
  float: right;
}

ul.topnav li.register {
  float: right;
  background-color: #1E90FF;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edf0f0;
}

.backToHome a {
  margin: 3rem 0 0;
  background-color: white;
  color:#1E90FF;
  font-weight: bolder;
  border: 4px solid #1E90FF;
  border-radius: 1px;
  padding: 12px 24px;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
}

.backToHome a:hover {
  background-color: #1E90FF;
  color: white;
  -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out, color 0.15s ease-out;
  -o-transition: background-color 0.15s ease-out, color 0.15s ease-out;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.footerContainer {
  width: 100%;
  min-height: 72px;
  padding: 1px 0px;
  margin-top: 48px;
  background-color: #333;
  color: white;
  text-align: center;
  position: static;
  bottom: 0;
}

.footerContainer p {
  font-size: 1rem;
}

.footerContainer a {
  color: white;
}